<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LastSaveDirectory value="C:\Users\Victor\Documents\resource pack\__Faithful AI Project\Scripted" />
  <LastLoadDirectory value="C:\Users\Victor\Documents\resource pack\Faithful 64\base\minecraft\textures\item" />
  <SourceSizeMode value="" />
  <TargetSizeMode value="" />
</Configuration>